.style-remove {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centred {
  margin: auto;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background: #f2f2f2;
  display: flex;
  align-items: center;
}

.page__header {
  position: relative;
}

.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.header__link::after {
  content: "→";
  margin-left: 3px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 68px;
  background: #2f80ed;
}

.description {
  padding: 100px 0;
}

.two-columns {
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:not(.two-columns__paragraph:first-of-type) {
  margin-top: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.digits__section-subtitle {
  margin-top: 20px;
}

.table {
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.feynman {
  height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.content__feynman {
  position: relative;
}

.feynman__title {
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin-top: 70px;
  width: 648px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link::after {
  content: "→";
  margin-left: 7px;
}

.kaufman {
  background: #000;
  padding: 90px 0;
  overflow: hidden;
}

.content__kaufman {
  position: relative;
}

.section-title_theme_dark {
  color: white;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.kaufman__section-subtitle {
  margin-top: 20px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 100%;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  padding: 60px 0 40px;
  min-height: 350px;
  background: #000;
}

.footer__columns {
  width: 90%;
  flex-grow: 1;
  justify-content: space-between;
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px;
  color: white;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
}

.footer__social-icon {
  padding-right: 10px;
}