.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    align-self: start;
    color: #2f80ed;
}

.khan__buy-link::after {
    content: "→";
    margin-left: 3px;
}